// Import page-specific CSS files here.
@import "home";

img {
    height: 150px;
    width: 150px;
}

.card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 10px auto;
  }

.container-center {
    height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    border: 1px solid;
    padding: 20px;;
}

.movie {
    border: 1px solid;
    box-shadow: 5px 10px rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color:white;
        text-decoration: none;
    }
    a:hover {
        color:whitesmoke;
        text-decoration: none;
    }
}
.bookmark {
    border: 1px solid;
    box-shadow: 5px 10px rgba(0,0,0,0.2);
    padding: 10px;
}
.bak a {
    color:black;
}